<section class="section">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">System Configuration</h4>
            <form class="row g-3" method="POST" action="/settings/save">
                <div class="col-6">
                    <label for="timeout" class="form-label">Delivery Timeout (seconds)</label>
                    <input type="number" class="form-control" id="timeout" name="timeout" value="<%= settings.timeout %>" min="5" max="120">
                    <small><i>Maximum time to wait for a response when sending a message</i></small>
                </div>
                <div class="col-6">
                    <label for="max-retry" class="form-label">Maximum Retry Times</label>
                    <input type="number" class="form-control" id="max-retry" name="max-retry" value="<%= settings.maxRetry %>" min="0" max="10">
                    <small><i>Number of retries if delivery fails</i></small>
                </div>
                <div class="col-6">
                    <label for="retry-interval" class="form-label">Retry Interval (seconds)</label>
                    <input type="number" class="form-control" id="retry-interval" name="retry-interval" value="<%= settings.retryInterval %>" min="5" max="60">
                    <small><i>Waiting time between retries</i></small>
                </div>
                <div class="col-6">
                    <label for="max-queue" class="form-label">Maximum Messages in Queue</label>
                    <input type="text" class="form-control" id="max-queue" name="max-queue" value="<%= settings.maxQueue %>" min="10" max="1000">
                    <small><i>Maximum number of messages that can be queued</i></small>
                </div>
                <div class="col-6">
                    <label for="rate_limit_limit" class="form-label">Rate Limit (max requests)</label>
                    <input type="number" class="form-control" id="rate_limit_limit" name="rate_limit_limit" value="<%= settings.rateLimitLimit %>" min="1" max="100">
                    <small><i>The maximum number of API requests allowed in a given period.</i></small>
                </div>
                <div class="col-6">
                    <label for="rate_limit_decay" class="form-label">Rate Limit Decay (seconds)</label>
                    <input type="text" class="form-control" id="rate_limit_decay" name="rate_limit_decay" value="<%= settings.rateLimitDecay %>" min="10" max="3600">
                    <small><i>Time period (in seconds) to reset the number of requests</i></small>
                </div>
                <div class="col-12">
                    <label for="country_code">Default Country Code</label>
                    <select id="country_code" name="country_code" class="form-control">
                        <option value="62" <%= settings.countryCode == '62' ? 'selected' : '' %>>🇮🇩 Indonesia (+62)</option>
                        <option value="60" <%= settings.countryCode == '60' ? 'selected' : '' %>>🇲🇾 Malaysia (+60)</option>
                        <option value="65" <%= settings.countryCode == '65' ? 'selected' : '' %>>🇸🇬 Singapore (+65)</option>
                        <option value="1" <%= settings.countryCode == '1' ? 'selected' : '' %>>🇺🇸 United States (+1)</option>
                        <option value="91" <%= settings.countryCode == '91' ? 'selected' : '' %>>🇮🇳 India (+91)</option>
                    </select>
                    <small><i>Select the default country code for phone number normalization</i></small>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary"><i class="bx bx-save"></i> Save Chage</button>
                    <button type="button" class="btn btn-secondary" onclick="location.reload();">
                        <i class="bx bx-undo"></i> Reset Setting
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Card Update Checker -->
    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Update Checker</h5>
            <button id="checkUpdateBtn" class="btn btn-info d-flex align-items-center">
                <span class="spinner-border me-2 d-none"
                    id="checkSpinner" role="status" aria-hidden="true"></span>
                Check Update
            </button>
        </div>
        <div class="card-body d-none" id="cardBodyContainer">
            <div id="updateResult"></div>
        </div>
    </div>

    <% if (Array.isArray(success) && success.length > 0) { %>
        <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
            <div class="toast align-items-center text-bg-success border-0" role="alert">
                <div class="toast-header bg-success text-white">
                    <i class="bi bi-check-circle-fill me-2"></i>
                    <strong class="me-auto">Success</strong>
                    <small>Just now</small>
                    <button type="button" class="btn-close btn-close-white ms-2 mb-1" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    <%= success[0] %>
                </div>
            </div>
        </div>
    <% } %>
    
    <% console.log("ERROR DATA:", error) %>
    <% if (Array.isArray(error) && error.length > 0) { %>
        <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
            <div class="toast align-items-center text-bg-danger border-0" role="alert">
                <div class="toast-header bg-danger text-white">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                    <strong class="me-auto">Error</strong>
                    <small>Just now</small>
                    <button type="button" class="btn-close btn-close-white ms-2 mb-1" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    <%= error[0] %>
                </div>
            </div>
        </div>
    <% } %>

    <script>
    // Aktifkan semua toast saat halaman siap
        document.addEventListener('DOMContentLoaded', function () {
            const toastElList = [].slice.call(document.querySelectorAll('.toast'));
            toastElList.map(function (toastEl) {
            new bootstrap.Toast(toastEl).show();
            });
        });
    </script>
</section>